<mt:include name="dialog/header.tmpl" page_title="<__trans phrase="Uninstall DISQUS">">

    <p>DISQUS comments has been uninstalled for this blog. You can reinstall at any time from using the Install button in the plugin settings. </p>
        <div class="actions-bar">
    <div class="actions-bar-inner pkg actions">
        <a href="<mt:var name="return_url">" target="_top" class="primary-button"><__trans phrase="Close"></a>
    </div>
    </div>

<mt:include name="dialog/footer.tmpl">
